# Exclude new files by default
*

# Include core files and folders
!rules/
!rules/**
!.github/
!.github/workflows/
!.github/workflows/*
!README.adoc
!README.md
!docs/
!docs/**
!.gitignore
!CHANGELOG.adoc
!changelog-details/**
!CI_COMPATIBILITY.md

# Standard excludes
# Build artifacts
**/*.exe
.dub/
